title: What to Keep from Other Indians
author: Your Name
description: >- # this means to ignore newlines until "baseurl:"
  How and Why Strategic Privacy Unlocks Your True Potential.

baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com

# Build settings
theme: minima
plugins:
  - jekyll-feed
