---
layout: default
---
<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-content">
    {{ content }}
  </div>
  <hr>
  <nav class="post-nav">
    {% if page.previous %}
      <a class="nav-link prev" href="{{ page.previous.url | relative_url }}">
        <span class="nav-label">Previous Chapter</span>
        <span class="nav-title">{{ page.previous.title }}</span>
      </a>
    {% else %}
      <div class="nav-spacer"></div>
    {% endif %}

    {% if page.next %}
      <a class="nav-link next" href="{{ page.next.url | relative_url }}">
        <span class="nav-label">Next Chapter</span>
        <span class="nav-title">{{ page.next.title }}</span>
      </a>
    {% endif %}
  </nav>
</article>
